header {
    background-image: url("../img/header.jpeg");
    background-size:100%;
    background-position: top left;
    background-repeat: no-repeat;
    height: 500px;
}

.img-header {
    width: 100%;
    height: auto;
    visibility: hidden;
    position:absolute;
    top: 0;
    left: 0;
}

nav {
    background: rgba(12,29,39, .9);
}

.nav-gradient {
    background: linear-gradient(rgba(12,29,39, 1), rgba(12,29,39, .3) 90%, rgba(12,29,39, 0)99%);
}


.titulo {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    color: white;
}

.subtitulo {
    font-family: "Metamorphous", Arial;
    font-weight: 400;
    color: rgba(255, 255, 255, .25);
    font-size: 1.5rem;
}

.titulo-secundario {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
}

.juego {
    background-color: #424242;
    box-shadow: .5em .5em 4px rgba(0,0,0, .4);
}

.respuesta {
    text-align: justify;
    text-justify: inter-word;
}

.col-suscripcion {
	border-right: 1px solid #dee2e6;
}

.input-correo {
    background-color: #000;
}

.input-correo:focus {
    background-color: #000;
}

.link-rrss {
    font-size: 1.5em;
}

.link-rrss:hover {
    color: rgba(255, 255, 255, .25);
}

.footer-contacto {
    position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
}

footer {
    background-color: #111;
    
}

@media screen and (max-width:1500px) {

    .link-rrss {
        font-size: 1.25em;
    }

}

@media screen and (max-width:1200px) {

    .link-rrss {
        font-size: 1em;
    }

}

@media screen and (max-width:992px) {
    nav {
        background: rgba(12,29,39, .9);
    }

    .link-rrss {
        font-size: 1.25em;
        text-align: center;
    }
}

@media screen and (max-width:768px) {

    .footer-contacto {
        position:inherit;
    }

    .col-suscripcion {
        border-right:0;
        border-bottom: 1px solid #dee2e6;
    }

    .cont-plataforma {
        height: 100px;
    }

    .link-rrss {
        font-size: 1.5em;
    }
    
}

@media screen and (max-width:576px) {
    .subtitulo {
        font-size: 1rem;
    }
}
