nav {
    background: rgba(12,29,39, .9);
}

.titulo {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
}

.juego {
    background-color: #424242;
    box-shadow: .5em .5em 4px rgba(0,0,0, .4);
}